[2017-10-26 12:33] ttveldhuis opened #1 "Add support for NSSlider"
Currently there is no option to make use of the NSSlider.

[2017-10-26 12:35] ttveldhuis opened #2 "Add method to remove/disable the touchbar"
The only way to remove the touchbar from a component or shell now is to call the enable method with a null argument.

`jTouchBar.enableForComponent(null)`

or

`jTouchBar.enableForShell(null)`

There should be a convenience method to remove/disable the touchbar.

[2017-10-26 12:38] ttveldhuis opened #3 "Make direct changes to the items in the touchbar possible"
At the moment, if you for example, want to change the text on a button, you have to call the `enable` method on the touchbar again. It would be nice to be able to just call `setTitle` on the button and have the library automatically process the change.

[2017-10-26 19:13] ttveldhuis commented on #3
This is now made possible by commit 7888701

[2017-10-26 19:13] #3 closed, assigned to nobody

[2017-10-30 19:14] ttveldhuis commented on #1
Commit e8e54ed now allows for a basic slider to be used using for example:

[code]

[2017-11-20 19:10] rslama opened #4 "AWTUtils.getViewPointer(Component component) cause NPE"
I tested this library (loaded from maven repo) within my testing java app and it alway produce NPE:

Exception in thread "main" java.lang.RuntimeException: java.lang.NullPointerException
	at com.thizzer.jtouchbar.awt.AWTUtils.getViewPointer(AWTUtils.java:25)
	at com.thizzer.jtouchbar.JTouchBar.enableForComponent(JTouchBar.java:60)
	at Start.init(Start.java:34)
	at Start.main(Start.java:23)
Caused

[2017-11-20 19:20] ttveldhuis commented on #4
What object/class are you passing to the ‘enableForComponent’ method?

[2017-11-20 19:24] rslama commented on #4
I followed example so here is that piece:
        JFrame frame = new JFrame();
        JTouchBar jTouchBar = new JTouchBar();
        jTouchBar.setCustomizationIdentifier("TouchBar");
        jTouchBar.enableForComponent(frame);

frame is of course javax.swing.JFrame

same NPE in case of use Frame from awt package

[2017-11-20 20:22] ttveldhuis commented on #4
Hmm.. This should of course just work. I will look in to this, what version of macOS and Java are you using?

[2017-11-20 21:17] rslama commented on #4
jdk1.8.0_152
macOS Sierra 10.12.6

[2017-11-21 10:42] ttveldhuis commented on #4
The way I can reproduce this is when `JFrame.pack();` and/or`JFrame.setVisible(true);` have not been called.

So you have to properly initialise your JFrame, this should go as follows;

[code]

Could you please let me know if this works? I will try to add a more elaborate examples in the future.

[2017-11-21 12:35] rslama commented on #4
Hey, with pack() && setVisible() that works as charm :)

[2017-11-21 14:19] ttveldhuis commented on #4
Thats good to hear 👍

Please let me know if you have any suggestions for the library or features you would like to see added.

[2017-11-21 14:19] #4 closed, assigned to ttveldhuis

[2017-12-04 13:38] gilbertoverg opened #5 "setBezelColor does not always work"
Hi, I'm trying to include JTouchBar in my project, but I'm experiencing a strange issue: setBezelColor does not work when called from an ActionListener. I'm using the latest release (jtouchbar-0.1.0-20171030.jar), here is a test program:
[code]
The bezel color of the coloredButton changes only when touchBarButton is tapped from the touchbar, if jbutton is clicked from the frame then the color of t

[2017-12-04 13:44] gilbertoverg commented on #5
Update: it also does not work inside Threads:
[code]

[2017-12-04 16:40] ttveldhuis commented on #5
Looking in to this, it is indeed probably related to which thread calls the method. Hope to have a fix for you soon.

[2017-12-04 16:53] ttveldhuis commented on #5
I have made a fix and tagged a new snapshot version. Travis should be done building this new version soon and then make it available through maven. Please let me know if the issue is also fixed for you and if you have any suggestions for the library or features you would like to see added.

(Ps. I hope to have more time at the end of december to improve the library and add new features.)

[2017-12-04 18:39] gilbertoverg commented on #5
Yes, SNAPSHOT-20171204 fixes the issue
I'll open a new issue in the next few days for my questions / suggestions...

[2017-12-04 19:04] #5 closed, assigned to ttveldhuis

[2017-12-06 16:20] AJNeufeld opened #6 "Swing - Frame never shows"
I tried to get JTouchBar working with Swing, but the code alway hangs when making the JFrame visible.  I modelled the test application after `com.thizzer.jtouchbar.awt.JTouchBarAWTTest`:

[code]

When `invokeAndWait` is used, I get:

When `invokeLater` is used, I get:

When `setVisible` is called from the main thread (like in `com.thizzer.jtouchbar.awt.JTouchBarAWTTest`), the main thread runs to c

[2017-12-06 16:25] AJNeufeld commented on #6
Stack Trace from the `invokeAndWait` case:

[2017-12-06 16:37] AJNeufeld commented on #6
Problem persists after upgrading to jdk1.8.0_151

[2017-12-06 16:38] ttveldhuis commented on #6
Are you by any chance trying to run from Eclipse? If so, could you try running from, for example a commandline to see what happens?

[2017-12-06 17:24] AJNeufeld commented on #6
Yes, running from eclipse.

Interesting, running from the command line, `invokeAndWait()` properly shows the JFrame.

So, what is up with Eclipse, and is there a work-around?

---

When run from from the command-line, with java 9, it crashes.  But that is a different issue.
[code]

[2017-12-06 19:49] ttveldhuis commented on #6
I have seen this issue before and I will do some more research on it, from what I can quickly gather is that it is somehow related to the fact that the library is also dependent on SWT.

[2017-12-06 20:19] ttveldhuis commented on #6
I have found a solution/workaround. There is an option the `Run/Debug Configurations` in Eclipse stating;

_'Use the -XstartOnFirstThreadArgument when launching with SWT'_

Disabling this option appears to do the trick. (See screenshot for more details). I haven't found a bug report for Eclipse for this yet, so maybe there is something we can do in the library to prevent you from having to do this

[2017-12-06 20:24] ttveldhuis commented on #6
https://bugs.eclipse.org/bugs/show_bug.cgi?id=212617

[2017-12-06 20:53] ttveldhuis opened #7 "NullpointerException when running in Java 9"
Thanks to @AJNeufeld for reporting this (see #6)

[code]

[2017-12-07 00:34] ttveldhuis commented on #7
b37ecff is an effort to resolve this by moving the reflection to native code, allowing for more flexibility. Needs to be thoroughly tested.

[2017-12-09 19:59] gilbertoverg opened #8 "Loading images from jar"
Hi, I'm trying to find a way to display an image inside a TouchBarButton, I can get the image displayed with this code:
[code]
After generating the jar, the image is not displayed because the returned path is only ```img/icon.png```. To workaround this problem I'm extracting the image from the jar to a temporary directory, is it possible to load the image directly from the jar?

[2017-12-11 08:11] ttveldhuis commented on #6
@AJNeufeld can you confirm that disabling the run configuration option makes it work?

[2017-12-11 08:25] ttveldhuis commented on #8
This should definitely be (made) possible. I will look in to this.

[2017-12-11 15:53] AJNeufeld commented on #6
Yes - confirmed - unchecking the "Use the -XstartOnFirstThread argument when launching with SWT" allows JToolBar to work with AWT/Swing.

[2017-12-11 15:53] #6 closed, assigned to ttveldhuis

[2017-12-11 22:31] ttveldhuis commented on #8
I have added a (convenience) method to load the image data in a byte[] (see below). So far, I was unable to find a method to allow the touchbar to load the image from the file path automatically, but since images should not be very large, this solution should work fine. I will leave this issue open and research this some more.

You can now use;

`new Image(Test.class.getClassLoader().getResourceAs

[2017-12-11 22:35] #7 closed, assigned to ttveldhuis

[2017-12-11 23:28] #2 closed, assigned to nobody

[2017-12-12 18:19] gilbertoverg commented on #8
It works perfectly, thank you for making it possible

[2018-01-10 09:20] Typhon0 opened #9 "JavaFX support"
Hi, can I use this library with JavaFX ? Thanks

[2018-01-10 11:07] ttveldhuis commented on #9
Not at the moment, but I can have support for you before the end of the day if required :)

[2018-01-10 14:17] ttveldhuis commented on #9
Added experimental support for JavaFX in the latest snapshot with b6476f3 please let me know if that works for you.

[2018-01-11 18:29] Typhon0 commented on #9
That's not working for me . I got this error :
[code]

[2018-01-11 22:58] ttveldhuis commented on #9
Are you using Maven?

[2018-01-12 15:40] Typhon0 commented on #9
Yes, I used the build-realease.sh to build the library.

[2018-02-09 14:14] blafois opened #10 "JTouchBar prevents JFrame to come visible (AWT)"
Hello!
Thanks for your great work!

Unfortunately I am unable to make the wrapper work.

JDK: Java(TM) SE Runtime Environment (build 1.8.0_151-b12)
OSX 10.13.3.

Having the JTouchBar in POM dependencies is enough to block the opening of JFrame, without any reference to JTouchBar in the code (even not in imports). If I want window to open, I need to remove it from dependencies and clean the project

[2018-02-09 14:48] ttveldhuis commented on #10
Are you using Eclipse to debug? If so, please try to use the solution described at https://github.com/Thizzer/JTouchBar/issues/6#issuecomment-349762148

I will probably create a separate pom for the SWT version of the project because that appears to be the root cause of all these issues.

[2018-02-11 11:56] blafois commented on #10
Awesome! It works perfectly! I suggest adding this to the README!

2018-02-09 15:48 GMT+01:00 Thys ten Veldhuis <notifications@github.com>:

[2018-02-21 10:34] marlonbernardes opened #11 "Display touchbar when app is out of focus"
Does this library support displaying a "fixed" touch bar? In other words, is it possible to configure the touch bar to be shown when the app is out of focus (similar to what Spotify does)?

Thanks in advance!

[2018-02-23 21:38] robertvaradan opened #12 "Swing Support?"
Is support for javax.swing planned in the future?

[2018-02-26 09:04] ttveldhuis commented on #12
Swing is currently supported, I've renamed the header to make it more clear; https://github.com/Thizzer/JTouchBar/#using-jtouchbar-with-swing

[2018-02-26 09:04] #12 closed, assigned to nobody

[2018-02-26 09:09] ttveldhuis commented on #11
At the moment the library does not support that, Apple also states the following in the official [documentation](https://developer.apple.com/documentation/appkit/nstouchbar);

But if there is a way to achieve this without it getting too hackish, I am willing to implement it. But I have not found a way to achieve this yet.

[2018-02-26 09:10] #1 closed, assigned to nobody

[2018-02-27 05:47] redwallhp opened #13 "LWGL Support?"
I've been playing with JTouchBar a little lately, and was wondering if it would be possible for it to work with [LWGL](https://www.lwjgl.org/) applications? I picked through the source, but don't understand JNI enough to tell how viable it would be.

[2018-02-27 08:13] ttveldhuis commented on #13
From what I’ve quickly seen looking at LWJGL examples, there is a pointer to the native window (which is the most important part) so I think this could easily be made possible. I will have a look at it as soon as possible.

[2018-02-27 08:56] marlonbernardes commented on #11
Electron also does not support this feature, AFAIK. Anyways, I'll let you know/open a PR if I find a not-so-hackish way of implementing this feature, then. Since this was merely a question (and I already have the answer), please feel free to close this issue if you want!

[2018-02-27 12:54] ttveldhuis commented on #13
Support for passing a raw pointer has been added to the latest snapshot (5e36c7d). This allows JTouchBar to be used with LWJGL. See the [Using JTouchBar with LWJGL](https://github.com/Thizzer/JTouchBar#using-jtouchbar-with-lwjgl) in the README for details.

[2018-02-27 12:54] ttveldhuis commented on #13
5e36c7d

[2018-02-27 12:55] #13 closed, assigned to nobody

[2018-02-27 12:56] #11 closed, assigned to nobody

[2018-02-27 12:56] #8 closed, assigned to ttveldhuis

[2018-03-17 10:30] rdasilvacuriel opened #14 "Support for enabling/disabling buttons"
I'd like to see support for enabling/disabling buttons. Right now I don't see any way to do this. I'm a Java/iOS developer myself so if it is possible/allowed I might try to add it myself.

[2018-03-18 11:39] rdasilvacuriel commented on #14
I have it working locally for my situation in Swing with a simple login dialog that enables the login button on the touchbar only when the user has entered their username and when the password is sufficient to proceed. Will review and commit it somewhere today.

Compliments by the way on how easy it is to build and run the project(s) with XCode and Maven and how it integrates.

[2018-03-21 09:34] ttveldhuis commented on #14
Sounds good, please create a pull request when you have the time 👍

[2018-03-21 18:02] rdasilvacuriel commented on #14
Will do, but due to other commitments I'm a little delayed in finalising the code.

[2018-03-24 16:11] rdasilvacuriel commented on #14
Pull request added. "Travis" fails, looks like it cannot find Mockito. No idea how Travis works and why it can't see Mockito when it is specified in the Maven pom.

[2018-04-03 14:21] #14 closed, assigned to nobody

[2018-04-03 18:17] rdasilvacuriel opened #16 "Add support for adding scrollview with buttons"
Would be nice to be able to add a series of buttons through which the user can scroll. See: https://stackoverflow.com/questions/42123495/touch-bar-how-to-add-a-scrollable-list-of-buttons. For an example see the 'Calendar' application that allows selection of months from a horizontally scrolling list.

[2018-04-04 14:28] olivernybroe opened #17 "System color support"
It looks the colors have been hardcoded instead of it using system colors
https://developer.apple.com/macos/human-interface-guidelines/touch-bar/touch-bar-visual-design/#color also called NSColors.

[2018-04-04 14:29] olivernybroe commented on #17
Also most importantly the Dynamic System Colors would be really nice to have support for.

[2018-04-04 15:06] olivernybroe opened #18 "No colors match the default color"
I cannot match the original color at all, tried all the colors, what am I doing wrong?
![image](https://user-images.githubusercontent.com/5870441/38316123-4aaa3b88-382a-11e8-9b81-51fe0810a512.png)
Its the button `works`, the color is off, it doesn't match the normal buttons
[code]

[2018-04-04 15:21] ttveldhuis commented on #17
I will try to make the color class use the colors predefined in NSColor.

[2018-04-04 15:21] ttveldhuis commented on #18
Related to #17

[2018-04-04 16:00] ttveldhuis commented on #17
The colors are now dynamically resolved using the appropriate names instead of predefined RGBA values. All of the colors you need should be available through the Color class.

[2018-04-04 16:01] ttveldhuis commented on #18
With the latest commit you should be able to use `Color.CONTROL_COLOR` for this.

[2018-04-04 18:00] #18 closed, assigned to ttveldhuis

[2018-04-04 18:00] olivernybroe commented on #17
Ill test this out later, thanks a lot.

[2018-04-04 18:00] #17 closed, assigned to ttveldhuis

[2018-04-06 11:17] olivernybroe commented on #17
It works perfectly! `Color.CONTROL_COLOR` looks so good, thanks a lot for your work.

[2018-04-11 07:38] olivernybroe opened #19 "Popovers"
Could be nice if you could implement popovers
https://developer.apple.com/macos/human-interface-guidelines/touch-bar/touch-bar-controls-and-views#Popovers

[2018-04-11 12:30] ttveldhuis commented on #19
Basic support has been added in the latest commit. I tagged it so a snapshot will be created.

Still need to add support for;
- showPopover
- dismissPopover
- showsCloseButton

[2018-04-11 15:50] ttveldhuis commented on #19
Added support for ‘showsCloseButton’ but still missing the dismiss method to be able to dismiss the opened popover when ‘showsCloseButton’ is set to ‘false’.

[2018-04-11 20:44] olivernybroe commented on #19
Amazing! Will try it out when I get some time free again.

[2018-04-12 09:25] olivernybroe commented on #19
Something in your new code has changed. My code doesn't work anymore, it just crashes now, even though no changes has been made to my codebase.

[2018-04-12 10:12] ttveldhuis commented on #19
I'll have a look at it as soon as possible. In the mean time, what type of elements are you adding to the touchbar? Or does it also crash with an empty touchbar?

[2018-04-12 10:41] olivernybroe commented on #19
It crashes when running show after adding a button. If you can't recreate the error, I'll try and see if I can make a simple example which reproduces the error.

[2018-04-12 11:25] ttveldhuis commented on #19
I've tried to reproduce by adding several elements (separately and together) but I can't seem to reproduce the crash. Could you try to write an example which crashes?

[2018-04-12 11:50] olivernybroe commented on #19
Actually having some problems making the example. However in my project I can easily reproduce it.
I can tell you how to reproduce it in my project.

I can also give you the log? Maybe it might give you some insight?

[2018-04-12 11:53] olivernybroe commented on #19
[code]

and the log file it refers to can be found here https://gist.github.com/olivernybroe/0adf0d1bebb4302434310fb9e9bc5e48

[2018-04-12 12:01] olivernybroe commented on #19
For reproducing it in my project just clone https://github.com/olivernybroe/intellij-touch and change `build.gradle`.
In `build.gradle` replace
[code]
with
[code]

For running the code use `gradle runIde`.

(I'll try to see if I can make a simple example as my project is a plugin to IntelliJ, which adds a lot of other elements to look out for.)

[2018-04-12 14:04] ttveldhuis commented on #19
I've added some additional (error) handling which appears to have solved the crash. When I use the latest jar from the [repository](https://oss.sonatype.org/#nexus-search;quick~jtouchbar) the plugin doesn't crash anymore. So after you've refreshed your dependencies it should work again.

[2018-04-12 14:19] olivernybroe commented on #19
Cool, just tested and it works now!
Thanks a lot dude.

[2018-04-12 14:19] #19 closed, assigned to ttveldhuis

[2018-04-12 14:30] ttveldhuis opened #20 "Add toggle support for NSButton"
To be able to support button toggling we need to add support for the following NSButton fields;

- `allowsMixedState`
- `state`
- `setNextState`
- `alternateTitle`
- `alternateImage`

[2018-04-16 13:02] olivernybroe opened #21 "[Feat] Support for custom image types"
Could be nice if your library could handle `java.awt.image.BufferedImage` and `javax.swing.Icon`.

Right now I am converting these to byte arrays myself, but It feels kinda hacky and don't think it's pretty stable.

[code]

[2018-04-16 13:19] olivernybroe opened #22 "[Bug] Image switching result in no image every second time"
When switching the image, it results in the image not being shown every second time you change it.

I have attached a code example for reference.

[code]

[2018-04-17 10:41] olivernybroe opened #23 "[Bug] Changes in new version crashes"
Just changed to the newest version, but that results in a crash when starting up
There has been no changes in my code and it works with an older version of JTouchbar.

[code]

The log file referenced above can be found [here](https://gist.github.com/olivernybroe/888c49d8ecd86cd16117066a7b3d78b4).

Haven't been able to reproduce it in a simple example, not sure what the difference is in my project,

[2018-04-17 10:51] ttveldhuis commented on #23
I will have a look at this.

In regards to the sidenote, I hope to soon move the snapshot to the release repository, after that version numbers will hopefully move more quickly.

[2018-04-17 10:54] olivernybroe commented on #23
@ttveldhuis Sounds great.
Sorry for not being able to give you a simple example to run.

[2018-04-17 11:06] ttveldhuis commented on #23
Pushed a fix for the bug found in the log file. Hopefully that should fix your crash.

[2018-04-17 13:18] olivernybroe commented on #23
I fixed the crash, but now there is no touchbar.

It also fails to show a touchbar in a simple example.
[code]

[2018-04-17 13:59] ttveldhuis commented on #23
My apologies, I was too quick with my change and made a mistake. I've pushed the fix.

[2018-04-17 14:14] ttveldhuis commented on #22
This was caused due to the position for the image not having a proper default value. Should be fixed now.

[2018-04-17 14:52] olivernybroe commented on #23
@ttveldhuis Great the example i provided works now.
No need for apologising, I am just using your library, your the hero here.

[2018-04-17 14:52] #23 closed, assigned to ttveldhuis

[2018-04-17 14:57] olivernybroe commented on #22
@ttveldhuis Nice, it works perfectly!

[2018-04-17 14:57] #22 closed, assigned to ttveldhuis

[2018-04-18 06:28] olivernybroe opened #24 "[Bug] Halts/crashes? my UI thread"
Sorry for this bug, I dont know if you can fix it as I really can't give you much information.

So in my plugin you can customize the touchbar as you like, after changing anything it calls `setItems(null)` and then `addItem` for each of the items. Afterwards it calls `show`, so it gets re-rendered. This is the same method that is called first time the touchbar appears and there is no problem there

[2018-04-18 06:32] olivernybroe commented on #24
A little more testing showed that running it in a separate thread made it more stable in the current version, however calling it twice in a row still crashes it.

Going back to `jtouchbar-0.1.0-20180404.160200-10.jar`, makes it stable, when running in a separate thread and when not in it's own thread.

[2018-04-18 06:52] ttveldhuis commented on #24
Don’t apologize for finding bugs, only makes the project more stable in the end ;)
I’ll have a look at it. Do you think I can reproduce it using the latest version of your source and the latest release of JTouchBar?

[2018-04-18 07:07] olivernybroe commented on #24
Hehe true, just not much to go on ;)

You should be able to reproduce it with the latest edition (just commited).

[2018-04-18 07:12] olivernybroe commented on #24
To reproduce do the following
- go to `preferences` -> `Appearences & Behavior` -> `Menus and Toolbar` -> `Touch Bar`.
- Spam click (twice should be enough) `Refresh touch bar` button and it should crash.

[2018-04-18 14:11] ttveldhuis commented on #24
Pushed a possible fix (mentioned wrong issue in commit message #23 should be #24). I can't reproduce it anymore using this fix.

[2018-04-18 15:04] olivernybroe commented on #24
Amazing! It looks like it works now, thanks a lot.

[2018-04-18 15:04] #24 closed, assigned to nobody

[2018-04-19 09:20] olivernybroe opened #25 "[Feat] Catching NSInvalidArgumentException"
If creating a PopoverTouchBarItem (prob also other types) and supplying null as identifier, then it crashes, could be nice if we could have an java exception instead.

Error report:
https://gist.github.com/olivernybroe/f2dd3dccac5331c088b0f13c30ef2e35

[2018-04-20 12:58] olivernybroe opened #26 "[Bug] Random crash"
A user had a random crash, but I have no idea what was being done and how to reproduce, I got the error log.
You can just close this issue if there aren't enough to go on, just thought I would report it as it might be obvious for you what went wrong. :)

https://gist.github.com/olivernybroe/0b7f057cf30a49eba4a3035faee21b51

[2018-04-20 15:18] ttveldhuis commented on #26
Can't see from the error log if and at what point JTouchBar caused the memory error. But I will try to do some memory analysis.

[2018-05-02 13:37] olivernybroe commented on #26
Got a random crash again, might be related?
https://gist.github.com/olivernybroe/c54110439899a1c105f8fa0feb823bfe

[2018-05-03 08:31] Typhon0 opened #27 "java.lang.NoSuchFieldError: impl_peer"
Hello, I get this error when I try to show the touch bar with JavaFX. Thanks

[code]

My gradle build:
[code]

[2018-05-07 17:24] ttveldhuis commented on #27
What version of Java are you using, Oracle Java or OpenJDK? This error can occur when you are using Java 9 or higher, which are not yet supported at the moment.

Could you post the piece of code where `JTouchBar#show` is called?

[2018-05-07 19:12] ttveldhuis commented on #27
This should be fixed with the latest commit. If you could please try using 0.2.0-SNAPSHOT it should be resolved. Otherwise you'll have to wait for the release of 0.2.0.

[2018-05-07 20:04] ttveldhuis commented on #26
I found some places where local references should/could be deleted from memory sooner. Especially with the image loading this has an impact on the memory and can cause the crashes. Will fix it and commit as soon as possible.

[2018-05-07 21:14] olivernybroe commented on #26
That could be it. My system heavily uses image loading through byte arrays as I have the images ad Icon objects.

[2018-05-08 07:42] ttveldhuis opened #28 "Move SWT to separate maven `project`"
The SWT compatibility is causing interference with AWT/Swing and JavaFX usage. To resolve this we'll move the code for SWT to a separate project/jar which will then be accessible via maven as well;

[code]

[2018-05-08 07:43] ttveldhuis commented on #10
Opened #28 to help resolve this.

[2018-08-20 11:40] lsonnino opened #29 "NoSuchFieldError: impl_peer on Java 10"
Hi, I get this error when running JTouchBar on Java 10 with JavaFX
[code]
Thanks for your work, on Java 8 it still works fine
Cheers

[2018-08-21 12:03] theminecoder opened #30 "Assertion Error when attempting to use TouchBarScrubber"
When attempting to use the following (what seems basic level) code, my application quits with the error message:

[code]

[code]

[2018-08-27 08:53] ttveldhuis commented on #29
Closing. Duplicate of #27

[2018-08-27 08:53] #29 closed, assigned to ttveldhuis

[2018-08-27 12:09] ttveldhuis commented on #28
Fixed for 0.2.0

[2018-08-27 12:09] #28 closed, assigned to ttveldhuis

[2018-08-27 12:09] ttveldhuis commented on #27
Fixed for 0.2.0

[2018-08-27 12:09] #27 closed, assigned to ttveldhuis

[2018-08-27 12:10] ttveldhuis commented on #10
Fixed for 0.2.0 with #28

[2018-08-27 12:10] #10 closed, assigned to nobody

[2018-08-27 12:10] ttveldhuis commented on #9
Fixed for 0.2.0 with #28

[2018-08-27 12:10] #9 closed, assigned to ttveldhuis

[2018-08-27 12:11] ttveldhuis commented on #26
Should be fixed in current 0.2.0 snapshot. Closing this now because unable to reproduce locally and plugin has been discontinued.

[2018-08-27 12:11] #26 closed, assigned to ttveldhuis

[2018-08-27 12:21] ttveldhuis commented on #30
I am unable to reproduce this issue locally. What version of MacOS are you running on?

[2018-09-29 13:38] occhioni-esteco opened #31 "Not able to execute on Intellij Idea"
Hi!

I just want to use this library in order to check its usage but i am not able to run the code on intellij Idea due to a compile error:

[code]

Calling the show() method will launch the compile error:

note. i have imported the jar with gradle. Fresh new project.
    compile 'com.thizzer.jtouchbar:jtouchbar:0.1.0'

Tried to import also org.eclipse.swt library doesn't fix the problem.

Thanks

[2018-09-29 14:20] occhioni-esteco commented on #31
Update: probably is due to a Gradle jar that is no more available on the repository which is

org.eclipse.swt.cocoa.macosx.x86_64-4.3.jar

[2018-10-03 07:37] ttveldhuis commented on #31
This should be solved in 0.2.0 with the separation of SWT support to a separate project. I hope to release that soon but for now the advice is to use the snapshot version of that build;

[code]

[2018-10-17 21:50] J4unty opened #32 "0.2.0-SNAPSHOT for maven repos"
Hi

Could you please upload a SNAPSHOT release of the 0.2.0 version into the Maven repositories, so we can use it with Java 10 without putting a jar in our repositories.

Many Thanks 👍
J4unty

[2018-10-22 13:23] ttveldhuis commented on #32
There should already be a snapshot available;

[code]

Aiming to release within the next two weeks.

[2018-10-25 14:26] J4unty commented on #32
Thank you

J4unty

[2018-10-29 09:58] #32 closed, assigned to nobody

[2019-01-20 20:34] grimreaper opened #34 "0.1.0 fails with error "Could not find org.eclipse.swt:org.eclipse.swt.cocoa.macosx.x86_64:4.6.1.""
### Steps to reproduce
1. Create new gradle project
2. As the only change add
[code]
as a dependency
3. Run `./gradlew compileJava`

### Actual Outcome
[code]

### Expected Outcome

See a successful build.

### Additional Useful Details
Gradle 5.1.1
openjdk version "1.8.0_181"
[code]

Let me know if there is anything else that might be helpful or if you can't reproduce.

If the issue is fixed alre

[2019-01-21 05:24] grimreaper opened #35 "JTouchBar fails to compile with Java 11"
## Steps to Reproduce

1. Ensure JAVA_HOME is set to jdk 11
1. Check out `development` branch
1. run `mvn compile`

### Actual result
[code]

### Expected result

Successfully compile and produce a jar.

### Additional Details

[code]

[2019-01-21 09:55] ttveldhuis commented on #34
If you are not using SWT the advice for now is to use the 0.2.0-SNAPSHOT version of JTouchbar, where SWT-support has been moved to a separate library.

```implementation group: 'com.thizzer.jtouchbar', name: 'jtouchbar', version: '0.2.0-SNAPSHOT'```

[2019-01-21 09:56] ttveldhuis commented on #35
SWT and JavaFX support will move to a separate library in version 0.2.0 of JTouchBar due to the problems caused by SWT and the fact that JavaFX support has been moved out of default Java in version 11.

This has not been done yet for JavaFX, so this issue will be kept open until that has been done.

[2019-01-21 17:53] grimreaper commented on #34
This might be my error, but it does seem to resolve. Is there an additional repo I need?

[code]

[2019-01-21 19:57] ttveldhuis commented on #34
Snapshots are currently only available in the Maven Central repository. You can add it to the repositories configuration in Gradle like this:

[code]

[2019-01-21 19:58] grimreaper commented on #34
perfect. thanks!

(will leave this open as a request to release, unless you'd prefer to close)

[2019-01-22 08:55] #30 closed, assigned to ttveldhuis

[2019-01-22 08:57] ttveldhuis commented on #34
I've added this to the 1.0.0 milestone (previously 0.2.0). Hoping to create release this week.

[2019-01-22 08:57] ttveldhuis commented on #35
I've added this to the 1.0.0 milestone (previously 0.2.0). Hoping to create release this week.

[2019-01-22 19:36] #20 closed, assigned to ttveldhuis

[2019-01-22 21:30] #25 closed, assigned to ttveldhuis

[2019-01-22 22:00] ttveldhuis commented on #35
Version 1.0.0 has been released and should resolve this issue. It might take a while until it is available in the repository.

[2019-01-22 22:00] #35 closed, assigned to nobody

[2019-01-22 22:00] ttveldhuis commented on #34
Version 1.0.0 has been released and should resolve this issue. It might take a while until it is available in the repository.

[2019-01-22 22:00] #34 closed, assigned to nobody

[2019-01-22 22:01] ttveldhuis commented on #31
Version 1.0.0 has been released and should resolve this issue. It might take a while until it is available in the repository.

[2019-01-22 22:01] #31 closed, assigned to ttveldhuis

[2019-02-17 18:24] nwalters512 opened #37 "Enable/disable buttons not working properly"
I have code like the following:

[code]

`undoEnabled` is a class member that I update in the following function. Based on the source code of this library, I also call `fireActionStateChanged` on the touch bar button when I update `undoEnabled`.

[code]

I can see `isEnabled` is getting called because I see `checked undo enabled: true`. However, I don't actually see the visual state of the button

[2019-02-18 09:03] ttveldhuis commented on #37
I will have to investigate, this is functionality introduced by a PR which might interfere with the new button states introduced in 1.0.0. I think the isEnabled function only indicated whether the action should be executed, not if the button should show as enabled.

Maybe for now you can try to use that to:
[code]

[2019-03-03 23:23] grimreaper opened #38 "Provide adaptor between JTouchBar components and Swing compents"
Problem

A project may already have a complete context-senstive menu system. In order to add a JTouchBar this system must be at least partly reimplemented.  Furthermore some APIs and abstractions may be built around passing JMenu items around or the like.

Solution

Provide a layer that makes it possible to treat the JTouchBar as just another menu. For example accepting a JMenuItem with an Action.

[2019-03-11 08:26] grimreaper opened #39 "[support] touchbar shows nothing"
How to reproduce:

1. Compile and run the test case provided below.
2. ensure you're on the java application

What to expect:
- A touchbar shown with a slider

What actually gets shown:
- an empty touchbar as if it was never initialized.
![image](https://user-images.githubusercontent.com/433817/54109736-ba3c8b80-439c-11e9-8d0c-26c55d8fc9f9.png)

I'm unsure if I made a mistake, there is missing doc

[2019-03-12 05:10] grimreaper commented on #39
I forgot to mention this:
[code]

[2019-03-19 10:40] ttveldhuis commented on #39
I've had a quick look in to it, but the scrubber is a beast of its own. If you call:

```touchBarScrubber.setShowsArrowButtons( true );```

Arrows should show on the left and right of the touchbar.

The scrubber relies on a datasource for the views it can present. An example of setting the datasource could be:

[code]

Currently only the ScrubberTextItemView (displaying a text) and ScrubberImageIt

[2019-03-20 03:13] grimreaper commented on #39
hrm. Interesting information and useful to know. I'll follow up (possibly on a separate issue) if in trying to use this in my application I run into more problems.

I wonder if it makes sense to throw an exception if you try to add slider without a DataSource?

[2019-03-20 08:56] ttveldhuis commented on #38
This would definitely be a nice enhancement, setting it for 2.0.0 but if a pull request providing this functionality comes in I would be quick to accept it for 1.1.0 👍

[2019-03-20 08:58] ttveldhuis commented on #16
Adding UIScrollView support to the touchbar isn't really supported in a nice way by the OS.

The Calendar app uses the NSScrubber for doing this which is currently already supported in JTouchBar.

[2019-03-20 08:58] #16 closed, assigned to ttveldhuis

[2019-04-11 11:52] ryandavern opened #40 "JavaFX impl_peer error"
Hi! Working with JRE 10 and this error occurs when showing the touch bar. Touch bar works with Swing, but not JavaFX.

Here is the source code of a test application I created https://pastebin.com/WE6cJp1H.

I've definitely made a mistake somewhere so just looking for any help. Thanks :)!

Exception in Application start method
java.lang.reflect.InvocationTargetException
	at java.base/jdk.internal.r

[2019-09-02 17:22] jourquin opened #41 "Make it portable"
As this interesting lib (obvioulsy) contains native code, it only runs on MacOS. It seems that the creation of a JTouchbar is not a problem on Windows and linux, but that a call to JTouchbar.show(...) throws an exception.

The show method (and maybe other methods) could include the following test before actually make it visible :
if (System.getProperty("os.name").toLowerCase().startsWith("mac")) {

[2019-09-03 15:55] jourquin commented on #41
This modified JTouchBar.java has been tested and doesn't throw any exception when used in a Java app running on a Linux or Windows platform. It also works on a Mac without touchbar.

A constructor has been added to initialize the "runOnMac" boolean, which is further tested in the two "show" and "hide" methods.

[code]

[2019-09-30 10:56] #39 closed, assigned to ttveldhuis

[2019-11-03 20:20] haykam821 opened #42 "Allow triggering Touch Bar customization"
It would be helpful to have a function that invokes Touch Bar customization, as seen in native apps' View –> Customize Touch Bar... menu.

[2019-11-07 11:52] ttveldhuis commented on #42
Good suggestion. Will look in to this

(https://developer.apple.com/documentation/appkit/nstouchbar?language=objc#2647080)

[2019-11-29 00:34] haykam821 opened #43 "Allow button unpress on TouchBarViewAction"
While `onCall` allows me to detect when a Touch Bar button has been pressed, there is no functionality for detecting when the button has been released.

[2020-01-05 21:28] schroederonline opened #44 "JavaFX 13 support"
Hi Thizzer,
the JavaFX implementation does not work with JavaFX 13.0.1
You try to access a field in javafx.stage.Stage.impl_peer which has been renamed to
private TKStage peer;
in class javafx.stage.Window;

`Caused by: java.lang.NoSuchFieldError: javafx.stage.Stage.impl_peer Lcom/sun/javafx/tk/TKStage;
	at com.thizzer.jtouchbar.javafx.JTouchBarJavaFX.getJavaFXViewPointer0(Native Method)
	at com.t

[2020-01-05 21:31] schroederonline commented on #44
oh sorry its a duplicate (JavaFX impl_peer error #40)

[2020-01-05 21:31] #44 closed, assigned to nobody

[2020-02-04 01:23] DraqueT opened #50 "Put in Module for Java 9+ Compatibility"
Could this be put into a module so that it could be built more easily with Java 9+? Specifically, this would allow it to be built into runnable images, which is how I distribute my software.

Thank you for making such a cool utility! I am really excited to integrate it and give my users some more flash if it can be pulled into a module!

[2020-02-10 11:24] ttveldhuis commented on #50
@DraqueT I don't have a lot of experience with Java modules so it will take me a while to get to this. So you are more than welcome to submit a PR for this.

[2020-02-10 17:55] DraqueT commented on #50
I'll take a crack at this, sure! Would you be open to moving to J9 yourself, or are you looking to stick with J8?

[2020-04-22 20:21] ghost opened #52 "Add menus to the touch bar"
Like when you press one button it changes the touch bar to show a different set of buttons and changes the escape button to an x

Is this already a thing that I'm missing?

[2020-05-16 19:09] TylerADavis commented on #52
You might be looking for popovers, but I'm not sure

https://github.com/Thizzer/jtouchbar/blob/7143b630f2aadd132beb5a758a1ad09f7cae2538/src/main/java/com/thizzer/jtouchbar/item/PopoverTouchBarItem.java

See the popover section in apple's documentation
https://developer.apple.com/design/human-interface-guidelines/macos/touch-bar/touch-bar-controls-and-views/

[2020-05-17 18:31] ghost commented on #52
oh, that's exactly what I was looking for! Thanks. Didn't know JTouchBar supported this.

[2020-05-18 22:32] TylerADavis opened #53 "Support for segmented controls"
Does jtouchbar have support for segmented controls? I don't see them mentioned in the documentation, and a search for "segment" in the repository didn't return anything.

I'd like to make a touchbar where multiple buttons are compactly placed next to each other as in the image below, but I'm not sure how to do that with jtouchbar. Is this something that would have to be added to this library?

<im

[2020-07-18 13:39] mrieser opened #54 "Tried to extend functionality of TouchBarSlider"
I tried to extend the functionality of TouchBarSlider by adding `setValue()` and `setKnobThickness()` methods. I was able to adapt the Java code, the objective-c++ code, and to rebuild the whole library and jar-file. But when I then tried to use it, the new methods had no effect. So it seems as if I still miss some important point in order to adapt/extend the functionality of this library.

My cha

[2020-09-05 06:01] ivanooi opened #55 "detect touchbar available"
Hi,

Nice if able to detect whether the mac contains touchbar or not.

Thanks

[2020-12-09 05:18] ClementGre commented on #27
Hello, I have the same issue with JavaFX 11 and JavaFX 15 on Open JDK 15.0.1
Every time I try to show the touchbar, I got :
[code]

By the way, I had to place manually the `libJTouchBarJavaFX.dylib` file in my Java Libs directory because java didn't found it.
I Build my project with Gradle.

Thank you for your help,
Clement Grennerat

[2020-12-14 04:42] ClementGre commented on #27
PS: I checked if it is working with the release 0.2.0 but it is not the case.

[2021-03-08 15:14] kloenk opened #57 "Cannot build on arm64"
When running xcodebuild in the source directory, the build failes. This happens with x86_64 and arm64e.

[code]

[2021-03-08 16:52] kloenk opened #58 "SF Symbols images"
It would be nice I one could just select the SF Symbols to use on the Touch Bar, without the need to provide it manually.

[2021-09-21 13:06] #50 closed, assigned to ttveldhuis

[2021-09-21 13:09] ttveldhuis commented on #53
Requires introduction of [NSSegmentedControl](https://developer.apple.com/documentation/appkit/nssegmentedcontrol?language=objc)

[2021-09-21 13:12] ttveldhuis commented on #58
Sorry for the late reply.

Could you elaborate on this? Currently it's possible to use built-in images by using ImageName, eg:

[code]

[2021-09-21 13:14] #52 closed, assigned to nobody

[2021-09-21 15:02] kloenk commented on #58
It's probably what I searched for, just didn't found it.

[2021-09-21 15:48] #58 closed, assigned to nobody

[2021-11-29 20:36] VoltixIGS opened #60 "Not working with Mac M1"
I used the swing version and every time I try to comple and execute I get this error

<img width="1434" alt="image" src="https://user-images.githubusercontent.com/26350600/143939141-7a506388-b1b7-40c2-8347-e52edcff060a.png">

[2021-12-06 21:57] derreisende77 commented on #60
Currently there is no support for an Apple Silicon built native library in jtouchbar.

[2021-12-06 22:01] VoltixIGS commented on #60
You know if there will be?

[2021-12-06 22:29] derreisende77 commented on #57
Apple Silicon macs (at least on macOS monterey) do not have JavaVM framework anymore. I managed to compile jtouchbar this way:
I used sdkman.io to install a java jdk. Then the header search paths must be modified to point to the sdkman jdk include location for both jni.h and jni_md.h (the darwin implementation).
All references to #include <JavaVM/JavaVM.h> must be deleted as well as the framework

[2021-12-06 22:54] derreisende77 commented on #60
No, I don´t know. I am not involved with this library. Maybe @ttveldhuis can answer if there will be support in the future.

[2022-02-16 00:02] VoltixIGS commented on #57
@derreisende77 can you do a fork of the project that's compatible with m1?

[2022-02-16 16:33] derreisende77 commented on #57
@VoltixIGS Unfortunately no as I stopped using the lib and deleted all files. But it wasn't that difficult to build.

[2022-02-16 16:35] VoltixIGS commented on #57
@derreisende77 i tryed doing what you explained but i could not get it to compile i was getting an error like "missing symbols for arm64"

[2022-03-08 03:45] estyseesghosts commented on #57
Dunno if you still need it but I got it to build just fine on my M1 MacBook by following their instructions exactly, I can upload a fork or something tomorrow

[2022-03-10 13:15] VoltixIGS commented on #57
@estyseesghosts yeah i need it if you can upload the fork

[2022-03-11 02:12] estyseesghosts commented on #57
It's been posted

On Thu., Mar. 10, 2022, 7:15 a.m. VoltixIGS, ***@***.***>
wrote:

[2022-07-19 12:00] ghost opened #61 "[Feature] Support for redrawing the scrubber"